__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Dataset folders (too large for git)
train/
valid/
test/
runs/detect/train*/
!runs/detect/train11/weights/best.pt

# Model files except best.pt
yolov8n.pt
*.pt
!best.pt